@import "./styles/variable";
@import "./styles/fonts";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: $primary-color;
  cursor: none;
  height: 100vh;
  overflow-x: hidden;
}
//header
header {
  position: relative;
  z-index: 1;
  .head-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
    .div-D {
      width: 30%;
      margin-left: 100px;
      ul {
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            font-family: $secondary-font;
            font-size: 30px;
            color: $font-color;
          }
          a:hover {
            font-size: 35px;
            color: $secondary-color;
          }
        }
      }
    }
    .div-G {
      width: 65%;
      h1 {
        font-family: $primary-font;
        font-size: 60px;
        color: $font-color;
        text-align: center;
      }
      p {
        font-family: $primary-font;
        font-size: 40px;
        color: $font-color;
        text-align: center;
      }
    }
    .container-tache {
      position: absolute;
      z-index: -3;
      transform: translateY(-430px) translateX(100px);
      right: 2px;
      top: 2px;
      width: 800px;
      height: 800px;
      .tache1 {
        background-image: url("./static/images/rond.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }
  h2 {
    font-family: $secondary-font;
    font-size: 60px;
    color: $font-color;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    margin-left: 200px;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 200px;
      width: 100%;
    }
  }
}

//footer
footer {
  //transform: translateY(-200px);
  h2 {
    font-family: $primary-font;
    font-size: 50px;
    color: $font-color;
    margin-left: 100px;
    margin-top: 150px;
  }
  div {
    font-family: $secondary-font;
    font-size: 30px;
    color: $font-color;
    margin-left: 100px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    .container-tache5 {
      transform: translateY(-400px) translateX(-500px);
      position: absolute;
      z-index: -3;
      width: 900px;
      height: 900px;
      .tache5 {
        background-image: url("./static/images/rond.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
// anim curseur
.animCursor {
  width: 20px;
  height: 20px;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

.expand {
  animation: anim1 0.7s;
}
@keyframes anim1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2) translate(-25%, -25%);
  }
  100% {
    transform: scale(1) translate(-25%, -25%);
  }
}
// fleche vers le haut
.sparrow {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 3;
}
//page projet less is belge
.less {
  h2 {
    font-family: $primary-font;
    font-size: 50px;
    color: $font-color;
    margin-left: 100px;
    margin-top: 150px;
  }
  P {
    font-family: $secondary-font;
    font-size: 30px;
    color: $font-color;
    width: 60%;
    margin-left: 100px;
    margin-top: 100px;
  }
  .img-less {
    justify-content: center;
    position: relative;
    z-index: 1;
    .ligne1 {
      display: flex;
      .contLess1 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess1 {
          background-image: url("./static/images/lessIsBelge1.png");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
      .contLess2 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess2 {
          background-image: url("./static/images/lessIsBelge2.jpg");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
      .contLess3 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess3 {
          background-image: url("./static/images/lessIsBelge3.jpg");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
    }
    .ligne2 {
      display: flex;
      .contLess4 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess4 {
          background-image: url("./static/images/lessIsBelge4.jpg");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
      .contLess5 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess5 {
          background-image: url("./static/images/lessIsBelge5.png");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
      .contLess6 {
        width: 35%;
        height: 900px;
        margin: 20px;
        .imgLess6 {
          background-image: url("./static/images/lessIsBelge6.png");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 100%;
        }
      }
    }
    .container-tache3 {
      transform: translateX(200px);
      position: absolute;
      z-index: -3;
      left: 0px;
      top: 200px;
      width: 900px;
      height: 900px;
      .tache3 {
        background-image: url("./static/images/rond.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
